*{
  margin: 0;
  padding: 0;
  font-family: 'Verdana', sans-serif;
  box-sizing: border-box;
}
.container{
  width: 100%;
  min-height: 100vh;
  background: linear-gradient(90deg,#3fbab3 , #123533);
  padding:13px;
}
.todo-app{
    width:100%;
    max-width:  550px;
    margin: 110px auto 25px;
    padding: 45px 35px 75px;
    border-radius: 5px;
    background-image: url(images/Untitled\ design.png);
    backdrop-filter: blur(30px);
    background-size: cover;
    background-color: transparent ;
   /* opacity:0.89;
   backdrop-filter: blur(5px);
    opacity:0.75;
    filter: blur(2px);
    -webkit-filter: blur(2px);*/
}
.todo-app-text h1{
    color:black;
    display: flex;
    align-items: center;
    margin-bottom:15px;
}
/*.todo-app h1 img{
    width: 50px;
    margin-left: 8px;
    margin-right: 8px;
}*/
.row{
    display: flex;
    align-items: center;
    justify-content:space-evenly;
    background: /*#F7D060*/transparent;
    border-radius:28px;
    padding-left: 20px;
    margin-bottom: 25px;

}
input{
    flex:2;
   /* border: black;
    outline: black;*/
    background:transparent;
    padding: 15px;
    font-weight: 17px;
    font-weight: bold ;
    color:black;

}
::-webkit-input-placeholder {
    color:black;
    font-weight:400;
}
button{
    border:black;
    outline:none;
    padding:16px 50px;
    background: #ff5945;
    color:#fff;
    font-size:16px;
}
ul li{
    list-style:none;
    font-family: 'Verdana', sans-serif;
    font-size: 16px;
    color:black;
    padding: 13px 8px 13px 48px;
    user-select: none;
    cursor:pointer;
    position:relative;
}
ul li::before{
    content:'';
    position:absolute;
    height:30px;
    width: 30px;
    border-radius: 50%;
    background-image: url(images/images.png);
    background-size: cover;
    background-position: center;
    top: 13px;
    left: 9px;
}
ul li.checked{
    color: black;
    text-decoration: line-through;
}
ul li.checked::before{
    background-image: url(images/checked.png);
}
ul li span{
    position: absolute;
    right: 0;
    top: 6px;
    width: 42px;
    height: 42px;
    font-size: 23px;
    color:black;
    line-height: 42px;
    text-align: center;
    border-radius: 50%;
}
ul li span:hover{
    background: #edeef0;
}
